html {
  background-color: #ffffff;
  background-image: url("../images/bg2.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
}

body {
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  color: rgba(0, 0, 0, 0.699);
  font-size: 12px;
  margin: 0;
}

body p {
  margin: 0 0 5px 0;
}

a:link,
a:visited {
    color: rgb(74, 80, 105);
    text-decoration: none;
    border-bottom: 2px dotted rgba(74, 80, 105, 0.31);
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.1s ease-out;
}

a:hover {
    color: rgba(74, 80, 105, 0.942);
    font-weight: bold;
    border-bottom: 2px dotted rgba(74, 80, 105, 0.8);
}

a:active {
    color: rgba(108, 117, 152, 0.942);
    top: 2px;
    left: 2px;
}

.opacity-down {
  opacity: 70%;
}

.page-wrapper {
  max-width: 400px;
  margin: auto;
  min-height: 100vh;
}

/* ################ HEADER ################ */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items:end;
  padding: 0;
  margin: 70px 0 0 0;
}

.header-title h1 {
  font-size: 2.5rem;
  font-style: italic;
  margin: 0;
}

.header-logo {
  gap: 10px;
}

.header-logo img {
  max-height: 100px;
  padding-bottom: 7px;
}

/* ################ NAV BAR ################ */

.nav-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.642);
  border-bottom: 1px solid rgba(0, 0, 0, 0.642);
  margin-top: 3px;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar a,
.nav-bar button {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar li +  li {
    border-left: 1px solid rgba(0, 0, 0, 0.642);
}


/* ################ MAIN ################ */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin: -10px 0px 10px -89px;
  flex-grow: 1;
}

.main-container h2 {
  font-size: 12px;
  margin: 0;
  font-style: italic;
}

.main-container h3 {
  font-size: 10px;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.bubble {
  background-color: rgba(0, 0, 0, 0.074);
  width: auto;
  height: auto;
  border-radius: 0px 29px 29px 29px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 15px 25px 10px 25px;
}

.bubble::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: 0px;
  border-right: 12px solid rgba(0, 0, 0, 0.074);
  border-bottom: 10px solid transparent;
}

.commit-msg {
  width: auto;
  text-align: justify;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 0 5px 0;
  width: 100%;
  overflow-y: auto
}

.commit-msg-header-facts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.642);
  margin: 0;
}

.commit-msg-header {
  width: 100%;
  margin: 0 0 5px 0;
}

.pixelart {
  height: 96px;
  image-rendering: pixelated;
  filter: drop-shadow(-12px 0px 0px rgba(0, 0, 0, 0.08));
}


/* ################ FOOTER ################ */
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 10px;
}

.smol {
  font-size: 9px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.socials {
  display: flex;
  gap: 4px;
  align-items: center;
  margin: 0 0 5px 0;
}

.socials img {
    height: 16px;
    display: block;
    opacity: 65%;
}